.task-list-item {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding: 5px 0px;
    cursor: pointer;
}

.task-list-item:hover {
    transition: 250ms;
    color: #FFFFFF;
}

.task-list-size {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}