.task-panel-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-panel-item-task-label-form {
    display: flex;
    justify-content: center;
}

.task-panel-item-delete-button {
    min-height: 50px;
    display: flex;
    justify-content: center;
}