.task-panel-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-panel-item-task-label-form {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffffd0;
}

.task-panel-item-delete-button {
  min-height: 50px;
  display: flex;
}
