.logo {
    width: 100%;
}

.app-logo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo-icon {
    font-size: 32px;
    color: #FFFFFF;
}

.app-logo-name {
    padding: 0px 16px;
    font-size: 24px;
    color: #FFFFFF;
}