.task {
  min-height: 36px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-right: 5px;
  background-color: #212121;
}

.task-labels-container {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.task-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.task .task-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-content .task-name {
  width: 95%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
}

.task-content .task-completed {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  font-size: 24px;
  width: 5%;
  cursor: pointer;
}

.task-completed .completed-false {
  color: #8d8d8d;
}

.task-completed .completed-true {
  color: #00c853;
}

.task-edit {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgb(139, 139, 139);
  cursor: pointer;
}
