.task {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin: 5px 0px;
}

.task .task-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-content .task-name {
    width: 95%;
}

.task-content .task-completed {
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 5%;
}