.task {
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: rgb(226, 226, 226);
}

.task .task-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-content .task-name {
  width: 95%;
}

.task-content .task-completed {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  font-size: 24px;
  width: 5%;
  cursor: pointer;
}

.task-completed .completed-false {
  color: #8d8d8d;
}

.task-completed .completed-true {
  color: #00c853;
}

.task-edit {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgb(139, 139, 139);
  cursor: pointer;
}