.task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .task-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background-color: #c2c2c2;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    padding: 0px 10px;
  }
  
  .input-container input {
    padding: 16px 0px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #000000;
  }
  
  .input-container input::placeholder {
    color: #000000;
  }

  .input-container input:focus {
    outline: none;
  }
  
  .task-form-container .icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    color: #000000;
    background-color: transparent;
  }