.task-lists {
  width: 100%;
}

.task-list-item-container {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 30px;
  background-color: #b4b4b4;
  color: #000000;
  border-radius: 3px;
}

.task-list-item-container .icon {
  font-size: 24px;
  background-color: #b4b4b4;
  color: #ffffff;
}

.task-list-item-container input {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: #b4b4b4;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-list-item-container input:hover {
  transition: 250ms;
  color: #ffffff;
}

.task-list-item-container input::placeholder {
  font-weight: 500;
  opacity: 1;
}

.task-list-item-container input:focus {
  outline: none;
}
