.task-lists {
    width: 100%;
}

.task-list-item-container button {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
    font-size: 18px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.task-list-item-container input:focus {
    outline: none;
}