.delete-task-button-component {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete-task-button {
  height: 30px;
  background-color: #d32f2f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}