.delete-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 8px 14px;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.delete-task-icon {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.delete-task-text {
}
