.task-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 12px;
}

.task-list-name {
  font-size: 24px;
}

.task-list-details {
  margin: 5px 0px;
  font-size: 16px;
  font-style: italic;
  opacity: 40%;
}

.task-list-list{
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.task-list-list-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.tasklists-empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #686868;
}

.tasklists-empty .icon {
  font-size: 250px;
}

.tasklists-empty .text {
  font-size: 26px;
}