body {
  margin: 0%;
  padding: 0%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.header {
  flex: 30%;
  background-color: tomato;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  margin: 3px 0px;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.input-container input:focus {
  outline: none;
}

.header .button-container {
  display: flex;
  justify-content: flex-end;
}

.header button {
  margin: 3px 0px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header button:hover {
  background-color: rgb(211, 211, 211);
}

.todo-list {
  flex: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}