@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
  max-width: 100vw;
  max-height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.app-content {
  width: 80%;
  display: flex;
}

.tasklist-form-and-items {
  width: 20%;
  padding: 16px;
  background-color: #212121;
}

.display-tasklist {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f1f1f1;
}

.task-panel {
  width: 30%;
  background-color: aqua;
}
